.bg-header {
    background-color: rgba(200, 245, 126, 0.6);
}

.bg-sidebar {
    background-color: rgba(121, 185, 19, 0.6);
}

.overflow {
    overflow-x: auto;
}

::ng-deep .cdk-overlay-container {
    z-index: 9999999999999
}

::ng-deep .header.header-sticky {
    z-index: 0
}