/* You can add global styles to this file, and also import other style files */
// If you want to override variables do it here
@import "variables";

$enable-ltr: true;
$enable-rtl: true;

// Import styles with default layout.
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";

// perfect scrollbar theming for use with [perfectScrollbar] directive
//@import '~perfect-scrollbar/css/perfect-scrollbar.css';

@import "layout";

// Some temp fixes
@import "fixes";

// Prism.js
@import "examples";

// If you want to add something do it here
@import "custom";
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Lato:400,800,900');
// @import '../../node_modules/bulma/bulma.sass';
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
$family-sans-serif: "Nunito", sans-serif;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

/* GLOBAL STYLES */
html,
body {
    height: 100%;
}

html {
    background-image: url('../../assets/background.svg');
    background-size: cover;
    overflow-y: auto !important;
}

::ng-deep .cdk-overlay-container {
    z-index: 9999999999999
}